/* ===========================================
GENERAL
=========================================== */

html {
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}
