/* ===========================================
GENERAL
=========================================== */

html {
  font-size: 125%;
}


body::after {
  content: "";
  background: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}


