/* ===========================================
GENERAL
=========================================== */

html {
  font-size: 125%;
}

body {
  background: #2a9d8f;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}
