@import url("https://fonts.googleapis.com/css2?family=Lato&family=Teko:wght@500&display=swap");

$yellow: #fcbf49;
$red: #d62828;
$navy: #003049;

$headingFont: "Teko", sans-serif;
$bodyFont: "Lato", sans-serif;

$squareSize: 50px;

@mixin shipSize($length) {
  height: $squareSize;
  width: $length * $squareSize;
  background: $yellow;
  box-shadow: 2px 2px $navy;
}
