@import url("https://fonts.googleapis.com/css2?family=Lato&family=Teko:wght@500&display=swap");

$yellow: #fcbf49;
$red: #d62828;
$navy: #003049;

$bodyFont: "Teko", sans-serif;
$headingFont: "Lato", sans-serif;

@mixin shipSize($length) {
  height: 50px;
  width: $length * 50px;
  background: $red;
}
