@import "./sass/setup";
@import "./sass/vars";
@import "./sass/typography";
@import "./sass/general";

.gridContent {
  width: 500px;
  height: 500px;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  box-shadow: 10px 10px 10px black;
}

.gridSquare {
  width: 50px;
  height: 50px;
  outline: 1px solid white;
  box-shadow: 2px 2px black;
}

.displayShip {
  background-color: $red;
}

.placed {
  display: none;
}

.gameBoard {
  display: flex;
  align-items: center;
}

.shipSelection div {
  margin-bottom: 1rem;
}

.destroyerSelect {
  @include shipSize(2);
}
.submarineSelect {
  @include shipSize(3);
}

.cruiserSelect {
  @include shipSize(3);
}
.battleshipSelect {
  @include shipSize(4);
}
.carrierSelect {
  @include shipSize(5);
}
