@import "./sass/setup";
@import "./sass/vars";
@import "./sass/typography";
@import "./sass/general";

.gridContent {
  width: $squareSize * 10;
  height: $squareSize * 10;
  background: url("./assets/stars.jpg");
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  box-shadow: 0px 0px 10px 10px $navy;
}

.gridSquare {
  width: $squareSize;
  height: $squareSize;
  outline: 0.4px solid white;
  box-shadow: 2px 2px $navy;
}

.displayShip {
  background-color: $yellow;
}

.hit {
  background-color: $red;
}

.miss {
  background-color: rgba(255, 255, 255, 0.7);
}

.placed {
  display: none;
}

.sunk {
  background-color: #000000;
}

.gameBoard {
  display: flex;
  align-items: center;
}

.forbidden {
  background-color: $navy;
}

.shipSelection div {
  margin-bottom: 1rem;
}

.destroyerSelect {
  @include shipSize(2);
}
.submarineSelect {
  @include shipSize(3);
}

.cruiserSelect {
  @include shipSize(3);
}
.battleshipSelect {
  @include shipSize(4);
}
.carrierSelect {
  @include shipSize(5);
}

.welcomePage {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.readyBtn {
  margin: 0 1rem;
  border: 0 solid $navy;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  background: $yellow;
  box-shadow: inset 0 0 20px rgba($red, 0.8);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  // cursor: url('https://cdn2.iconfinder.com/data/icons/kids/128x128/actions/launch.png');
  cursor: crosshair;
} 

.readyBtn:hover {
  color:$red;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px $navy;
}






