@import "./sass/setup";
@import "./sass/vars";
@import "./sass/typography";
@import "./sass/general";

.gridContent {
  width: 500px;
  height: 500px;
  background: url('./assets/cartoon-background-with-stars_1110-892.jpg');
  
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  box-shadow: 10px 10px 10px $navy;
}

.gridSquare {
  width: 50px;
  height: 50px;
  outline: 1px solid white;
  box-shadow: 2px 2px $navy;
}

.displayShip {
  background-color: $yellow;
}

.gameBoard {
  display: flex;
  align-items: center;
}

.forbidden {
  background-color: $navy;
}

.shipSelection div {
  margin-bottom: 1rem;
}

.destroyerSelect {
  @include shipSize(2);
}
.submarineSelect {
  @include shipSize(3);
}

.cruiserSelect {
  @include shipSize(3);
}
.battleshipSelect {
  @include shipSize(4);
}
.carrierSelect {
  @include shipSize(5);
}
